table.gridtable {
        font-family: verdana, arial, sans-serif;
        font-size: 11px;
        color: #222222;
        border-width: 1px;
        border-color: #555555;
        border-collapse: collapse;
        size:100%;
        
}
table.gridtable th {
        border-width: 2px;
        padding: 8px;
        border-style: solid;
        border-color: #555555;
        background-color: #dedede;
}

#listTableBody {
		width: 100%;
}

table.gridtable td {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #555555;
        background-color: #ffffff;
}

/* not working. to do for show validation errors */
.ui-field-contain label.error { 
color: red; 
font-weight: bold; 
} 
